  .navbar {
    position: flex;
    z-index: -1;
  }

  .button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.055);
    border: none;
    color: rgb(255, 255, 255);
    padding: 17px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
  }

  .button:hover {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.849);
    border: none;
    color: rgb(255, 255, 255);
    padding: 17px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
  }

  .portal {
    display: flex;
    border: 1px;
    z-index: 8888888;
  }