  .logo {
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
   margin-top: auto;
   zoom: 40%;
   z-index: 2;
   position: absolute;
   }

  .navbar {
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    zoom: 70%;
    margin-bottom: 10px;
    position: absolute;
    z-index: 10;
  }

  .button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.055);
    border: none;
    color: rgb(255, 255, 255);
    padding: 17px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .button:hover {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.849);
    border: 'rgb(0, 153, 255)', 1px solid ;
    color: rgb(255, 255, 255);
    padding: 17px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .CloudDeploy {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.055);
    border: none;
    color: rgb(255, 255, 255);
    padding: 17px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .CloudDeploy:hover {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.849);
    border: 'rgb(0, 153, 255)', 1px solid ;
    color: rgb(255, 255, 255);
    padding: 17px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .portal {
    display: flex;
    border: 1px;
    z-index: 8888888;
  }