.body {
  background: #111111;
}

.solar {
  position: absolute;
  top: 400px;
  left: auto;
  right: 200px;
  width: 220px;
  height: 220px;
  opacity: 0.1;

  -webkit-animation: spin 120s linear infinite;
  -moz-animation: spin 120s linear infinite;
  animation: spin 120s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes floatingsolar {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.moon1 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 450px;
  bottom: auto;
  left: 150px;
  right: auto;
  opacity: 0.1;

  animation-name: floatingmoon1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingmoon1 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.moon2 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 450px;
  bottom: auto;
  left: auto;
  right: 10px;
  opacity: 0.1;

  animation-name: floatingmoon2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingmoon2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.earth {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 470px;
  bottom: auto;
  left: 20px;
  right: auto;
  opacity: 0.1;

  animation-name: floatingearth;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingearth {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.ufo1 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 430px;
  bottom: auto;
  left: 50px;
  right: auto;

  animation-name: floatingufo1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingufo1 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(-8px, 4px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.ufo2 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 430px;
  bottom: auto;
  left: auto;
  right: 50px;

  animation-name: floatingufo2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingufo2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(-8px, -4px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.saturn {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 400px;
  bottom: auto;
  left: auto;
  right: -60px;
  opacity: 0.1;

  animation-name: floatingsaturn;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingsaturn {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.neptune {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -50px;
  bottom: auto;
  left: auto;
  right: -60px;
  opacity: 0.1;

  animation-name: floatingneptune;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingneptune {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.comet {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -150px;
  bottom: auto;
  left: auto;
  right: 110px;
  opacity: 0.1;
  z-index: -99999;

  animation-name: floatingcomet;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingcomet {
  0% {
    transform: translate(-0px, 0px) rotateZ(90deg);
  }
  50% {
    transform: translate(0px, 0px) rotateZ(90deg);
  }
  100% {
    transform: translate(-1000px, 1000px) rotateZ(90deg);
  }
}

.logo {
  margin-right: auto;
  margin-left: 20px;
  margin-bottom: auto;
  margin-top: 30px;
  height: 50px;
  z-index: 2;
  position: absolute;
}

.navbar {
  padding-left: 150px;
  margin-right: auto;
  margin-left: -40px;
  margin-bottom: auto;
  margin-top: 23px;
  margin-bottom: auto;
  position: absolute;
  z-index: 10;
}

.nav-Home {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 0.3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Home:hover {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Projects {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 0.3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Projects:hover {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Price {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 0.3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Price:hover {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Aboutus {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 0.3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Aboutus:hover {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Login {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 0.3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.nav-Login:hover {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.CloudDeploy {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 0.3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.CloudDeploy:hover {
  font-family: "Courier New", Courier, monospace;
  border: none;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 65px;
  height: 65px;
}

.menuBase {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.menuClose {
  position: absolute;
  top: 12px;
  margin-bottom: auto;
  margin-left: 580px;
  margin-right: auto;
  background: rgb(255, 0, 0);
}

.menuZoom {
  position: absolute;
  top: 12px;
  margin-bottom: auto;
  margin-left: 560px;
  margin-right: auto;
  background: rgb(0, 68, 255);
}

.menuZoomReset {
  position: absolute;
  top: 12px;
  margin-bottom: auto;
  margin-left: 560px;
  margin-right: auto;
  background: rgb(132, 0, 255);
}

.menuClose2 {
  position: absolute;
  top: 5px;
  margin-bottom: auto;
  margin-left: 22px;
  margin-right: auto;
  background: rgb(255, 0, 0);
}

.BasePortal {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 200px;
  left: 420px;
  margin-bottom: auto;
  margin-right: auto;
  background-color: #00000098;
  border-radius: 0.8rem;
  border: 0.01rem solid rgba(0, 0, 0, 0.185);
}

.DeployPortal1 {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 181px;
  left: 438px;
  margin-bottom: auto;
  margin-right: auto;
  background-color: #00000098;
  border-radius: 0.8rem;
  border: 0.01rem solid rgba(0, 0, 0, 0.185);
}

.DeployPortal2 {
  position: absolute;
  width: 50px;
  height: 400px;
  top: 186px;
  left: 12px;
  margin-bottom: auto;
  margin-right: auto;
  background-color: #00000098;
  border-radius: 0.8rem;
  border: 0.01rem solid rgba(0, 0, 0, 0.185);
}

.deploy-status {
  margin-top: 100px;
  margin-left: 120px;
}

.brain {
  width: 120px;
  height: 120px;
  opacity: 0.2;
}

.brain:hover {
  width: 120px;
  height: 120px;
}

.test-tube {
  width: 120px;
  height: 120px;
  opacity: 0.2;
}

.test-tube:hover {
  width: 120px;
  height: 120px;
}

.rocket {
  width: 120px;
  height: 120px;
  opacity: 0.2;
}

.rocket:hover {
  width: 120px;
  height: 120px;
}

.stack-image-upload > input {
  display: none;
}

.plus {
  width: 70px;
  height: 70px;
  margin-left: 142px;
}

#show-code {
  overflow-y: auto;
  margin-left: 10px;
  max-height: 200px;
  max-width: 580px;
  width: 100%;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 98, 255);
}

.WrongFormat_ERROR {
  overflow-y: auto;
  margin-left: 10px;
  max-height: 200px;
  width: 100%;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 0, 0);
}

.PortalBoxArea {
  position: absolute;
  width: 100%;
  height: 100%;
}

.move {
  position: absolute;
  width: 80px;
  height: 80px;
  left: -15px;
}

.resize {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 100px;
  left: -15px;
}

.meter {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 200px;
  left: -15px;
}

.color {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 300px;
  left: -15px;
}

.portal-menu2 {
  left: -400px;
}

