  .logo {
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
   margin-top: auto;
   width: 5Opx;
   height: 50px;
   z-index: 2;
   position: absolute;
   }

  .navbar {
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    z-index: 10;
  }

  .button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.055);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .button:hover {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.849);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .CloudDeploy {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.055);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .CloudDeploy:hover {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.849);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }